<h1>New Define role level permission</h1>


<%= render "form.html", Map.put(assigns, :action, Routes.role_feature_permissions_path(@conn, :create, app: @conn.query_params["app"])) %>

<span><%= link "Back", to: Routes.app_path(@conn, :index) %></span>

<!--
<span><%= link "Back", to: Routes.role_feature_permissions_path(@conn, :index) %></span>
-->
