<h1>Edit Define role level permission</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.define_role_level_permission_path(@conn, :update, @define_role_level_permission)) %>

<span><%= link "Back", to: Routes.define_role_level_permission_path(@conn, :index) %></span>
