<h1>New Define role level permission</h1>


<%= render "form.html", Map.put(assigns, :action, Routes.define_role_level_permission_path(@conn, :create, app: @conn.query_params["app"])) %>

<span><%= link "Back", to: Routes.define_role_level_permission_path(@conn, :index) %></span>
