<h1>New Feature</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.feature_path(@conn, :create, app_id: @conn.params["app_id"])) %>

<span><%= link "Back", to: Routes.feature_path(@conn, :index) %></span>
