<h1>New Permission</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.permission_path(@conn, :create, app_id: @conn.params["app_id"], feature_id: @conn.params["feature_id"])) %>

<span><%= link "Back", to: Routes.permission_path(@conn, :index) %></span>
